<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisSockets"
        tools:targetApi="31">

        <!-- MainActivity declarada como la actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MisSockets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LogsActivity declarada en el manifiesto -->
        <activity
            android:name=".LogsActivity"
            android:exported="true"
            android:label="Logs de Script"
            android:theme="@style/Theme.MisSockets">
        </activity>
        <activity
            android:name=".ErrorLogsActivity"
            android:exported="true"
            android:label="Logs de Error Script"
            android:theme="@style/Theme.MisSockets">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
